@model Mensajes_Relevantes.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="issuingMsg" class="control-label"></label>
                <input asp-for="issuingMsg" class="form-control" />
                <span asp-validation-for="issuingMsg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientMsg" class="control-label"></label>
                <input asp-for="recipientMsg" class="form-control" />
                <span asp-validation-for="recipientMsg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="msg" class="control-label"></label>
                <input asp-for="msg" class="form-control" />
                <span asp-validation-for="msg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sendDate" class="control-label"></label>
                <input value = Date().toLocaleDateString() asp-for="sendDate" class="form-control" />
                <span asp-validation-for="sendDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="contentFile" /> @Html.DisplayNameFor(model => model.contentFile)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fileName" class="control-label"></label>
                <input asp-for="fileName" class="form-control" />
                <span asp-validation-for="fileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chatFile" class="control-label"></label>
                <input asp-for="chatFile" class="form-control" />
                <span asp-validation-for="chatFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/User/Login">Cerrar Sesión</a>
</div>

