@model Mensajes_Relevantes.Models.Connection;
@{
    ViewData["Title"] = "Menu";

}

<p>User conneting: @ViewBag.sessionv</p>
<h1>Principal Menu</h1>

<hr />
<img src="images\descargar.jpg" alt="Sample Photo" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Menu" class="Menu3">
            
            <div class="form-group">
                <input type="button" value="Messages" onclick="location.href='@Url.Action("Message", "User")'" class="MessageButton" />
            </div>
        </form>
        <form asp-action="Menu" class="Menu4">
            <div class="form-group">
                <input type="button" value="Contacts" onclick="location.href='@Url.Action("Contact", "User")'" class="MessageButton" />
            </div>
        </form>
    </div>
</div>


