@model Mensajes_Relevantes.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Message</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="Login" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
            <div>
                <a href="/User/Login">Cerrar Sesión</a>
            </div>
        </form>
    </div>
</div>