@model Mensajes_Relevantes.Models.Message

@{
    ViewData["Title"] = "Message";
}

<p>User conneting: @ViewBag.sessionv</p>

<h1>Message</h1>

@using (Html.BeginForm("Message", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <p style="color:white" class="col-2">User</p>
            <div class="col-4">
                <input id="userInput" name="message.emisor" value="@ViewBag.sessionv" disabled="disabled"/>
            </div>
        </div>
        <div class="row">
            <p style="color:white" class="col-2">Message</p>
            <div class="col-4"><input type="text" id="messageInput" name="message.Text"/></div>
        </div>
        <div class="row">
            <input style="color:white" type="file" value="Select File" name="file">
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="Message">
            <p style="color:white" id="messagesList"></p>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}


<div>
    <a href="/User/Login">Cerrar Sesión</a>
</div>


